@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  @apply outline-none;
}

button:focus {
  @apply outline-none;
}
button,
a,
p,
img {
  -webkit-tap-highlight-color: transparent;
}

/* <------ Start of Utilities and Components ------> */

.layout {
  @apply max-w-screen-lg p-3 mx-auto box-content;
}
.animated {
  @apply transition duration-300 ease-in-out;
}
.btn {
  @apply bg-blue-400 w-full max-w-screen-sm rounded-lg p-3 text-white animated;
}
.btn-ghost {
  @apply bg-blue-100 w-full max-w-screen-sm rounded-lg p-3 text-blue-400 animated;
}

@screen lg {
  .layout {
    @apply py-6;
  }
  .btn:hover {
    @apply bg-blue-500;
  }
  .btn-ghost:hover {
    @apply bg-blue-200;
  }
  .btn:active {
    @apply bg-blue-600;
  }
  .btn-ghost:active {
    @apply bg-blue-300;
  }
}

/* <------ End of Utilities and Components ------> */

/* <------ Start of Lobby styles ------> */

.lobby {
  @apply bg-white p-6 shadow-lg rounded;
}
.lobby h1 {
  @apply text-4xl;
}
.lobby h2 {
  @apply text-3xl border-gray-200 border-b py-2 mb-4;
}
.lobby p {
  @apply text-lg mt-2;
}
.lobby b {
  @apply font-semibold;
}
.lobby ul {
  @apply list-disc list-inside text-lg;
}
.lobby ul li {
  @apply mb-2;
}
.lobby code {
  @apply bg-gray-100 text-sm p-1 rounded;
}

/* <------ End of Lobby styles ------> */

/* <------ Start of Header styles ------> */

.header {
  @apply flex justify-center p-3 shadow-md bg-yellow;
}
.header .aligner {
  @apply max-w-screen-lg w-full flex flex-row items-center;
}

/* <------ End of Header styles ------> */

/* <------ Start of InputSearch styles ------> */

.search-box {
  @apply flex ml-3 items-center w-full bg-white rounded overflow-hidden shadow;
}
.search-box .search-input {
  @apply w-full py-3 px-4;
}
.search-box .search-btn {
  @apply my-2 px-4 py-2 border-l border-gray-200;
}
.search-btn .search-icon {
  @apply h-4;
}

/* <------ End of InputSearch styles ------> */

/* <------ Start of ItemDetails styles ------> */

.product {
  @apply rounded shadow-lg bg-white p-4;
}
.product .detail-section {
  @apply border-t border-gray-200 pt-4;
}
.detail-section .title {
  @apply text-2xl font-light;
}
.detail-section .description {
  @apply mt-4 text-lg font-light whitespace-pre-line break-words;
}
.product .sale {
  @apply flex flex-col;
}
.sale .product-img {
  @apply mb-8 mx-auto w-full object-contain;
  max-height: 200px;
  max-width: 200px;
}
.sale .details {
  @apply flex flex-col justify-between w-full;
}
.details .hairline {
  @apply mb-1 font-thin;
}
.details .title {
  @apply text-2xl mb-2;
}
.details .price {
  @apply text-4xl font-hairline mb-4;
}

@screen sm {
  .product {
    @apply p-8;
  }
  .details .price {
    @apply text-4xl;
  }
  .details .title {
    @apply text-2xl;
  }
}

@screen md {
  .details .price {
    @apply text-5xl;
  }
  .sale .product-img {
    max-height: 300px;
    max-width: 300px;
  }
}

@screen lg {
  .product .sale {
    @apply flex-row;
  }
  .sale .details {
    @apply pl-8 ml-8 border-l border-gray-200 w-2/5;
  }
  .sale .product-img {
    @apply w-3/5;
    height: 500px;
    max-height: 500px;
    max-width: 500px;
  }
}

/* <------ End of ItemDetails styles ------> */

/* <------ Start of ResultsList styles ------> */

.results-list {
  @apply rounded shadow-lg bg-white;
}
.results-list .item {
  @apply p-2 flex justify-between border-b border-gray-200;
}
.results-list .item:last-child {
  @apply border-b-0;
}
.item .img {
  @apply w-20 h-20 object-contain flex-shrink-0 self-center cursor-pointer;
}
.item .main {
  @apply mx-2 w-full flex flex-col;
}
.main .title {
  @apply text-base font-thin cursor-pointer;
}
.main .price {
  @apply text-xl;
}
.main .tag {
  @apply self-start text-xs font-medium text-green-200 bg-green-100 inline rounded px-1 py-px my-2;
}
.main .condition {
  @apply text-xs font-hairline rounded self-start mb-1;
}

@screen sm {
  .results-list .item {
    @apply p-3;
  }
  .item .main {
    @apply mx-3;
  }
}

@screen md {
  .item .img {
    @apply w-32 h-32;
  }
  .main .title {
    @apply text-xl;
  }
  .main .price {
    @apply text-2xl;
  }
}

@screen lg {
  .results-list .item {
    @apply p-5;
  }
  .item .img {
    @apply w-40 h-40 mx-2;
  }
  .item .main {
    @apply mx-5;
  }
  .main .price {
    @apply mt-1;
  }
}

/* <------ End of ResultsList styles ------> */
